* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header,
footer {
    flex: 0 0 auto;
    padding: 12px;
    background-color: lightgrey;
}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 12px;
    background-color: lightgrey;
}

main {
    flex: 1 1 0;
    height: 100%;
    overflow: hidden;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.score {
    font-size: 32px;
    font-weight: bold;
    white-space: nowrap;
}

#gameSpace {
    display: flex;
    justify-content: space-around;
    gap: 64px;
    height: 80%;
    width: 100%;
}

.choices {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto-fit;
    gap: 12px;
    height: 100%;
}

.choices>button,
.choices>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    padding: 32px;
    background-color: white;
    border: 2px solid black;
}

.choices>button {
    cursor: pointer;
}

.choices>button:focus,
.choices>button:active,
.choices>button:hover {
    background-color: lightgoldenrodyellow;
}

.choices img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.message {
    font-family: 'Courier New', Courier, monospace;
}
